.allfooter{
    margin: auto;
}
.logo1{
    margin-left: 42%;
    margin-top: 40px;
}
.logo1 img{
    cursor: pointer;
    height: 40px;
    width:180px;
}
.block1{
    margin: auto;
    margin-top: 50px;
    margin-left: 8%;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    gap:30px;
}
a:hover{
    color:#1BC98E;
}
.block2{
    margin: auto;
    margin-top: 50px;
    margin-left: 20%;
    display: flex;
    font-size: 1rem;
    font-weight: 300;
    gap:30px;
}
.block3{
    margin: auto;
    margin-top: 50px;
    margin-left: 44%;
    display: flex;
    font-size: 1rem;
    font-weight: 300;
    gap:30px;
}

.block3 a:hover {
   color: red;
}
.block4{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
p{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}
.i{
    line-height: 20px;
}